/*====GERAL===========================================================*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /*1rem = 10px*/

  --main-color: hsl(0, 0%, 90%); /*Cor principal*/
  --linear-green-color: hsl(166, 59%, 55%); /*cor verde*/
  --linear-red-color: hsl(0, 95%, 70%); /*cor vermelha*/
  --linear-blue-color: hsl(187, 64%, 56%); /*cor azul*/
  --linear-black-color: hsl(212, 17%, 23%); /*cor preta*/
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif; /*Fonte da página*/
  font-size: 1.6rem;
  font-style: normal;
  text-align: left;

  overflow: overlay;

  background-color: white;

}

.containerPrincipal {
  width: 37.5rem; /*37.5rem = 375px*/ /*width = largura do conteúdo da pág.*/
  margin-inline: auto; /*Vai preencher toda margin de forma automática*/
  padding-inline: 2.4rem;
}
/*====HEADER============================================================*/
.header {
  font-family: 'Inter';
  
  background-color: hsl(162, 64%, 56%);

  width: 37.5rem; /*37.5rem = 375px*/ /*width = largura do conteúdo da pág.*/
  margin-inline: auto; /*Vai preencher toda margin de forma automática*/
  padding-inline: 2.4rem;
  height: 22.6rem;
  position: absolute;
}

.header .nomeNumero {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: 1.2rem;

  color: #ffffff;
}

.header .nomeNumero h2 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.2rem;

  margin-left: 12.2rem;
}

.header .tipo {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.8rem;
}

.header .tipo #tipoPlanta {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.7rem;

  background-color: hsl(0, 0%, 90%);
  background-blend-mode: soft-light;
  opacity: 40%;
  border-radius: 3.8rem;
  width: 7rem;
  height: 2.5rem;
}

.header .tipo #tipoVenenoso {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: hsl(0, 0%, 90%);
  background-blend-mode: soft-light;
  opacity: 40%;
  border-radius: 3.8rem;
  width: 7rem;
  height: 2.5rem;
}

.header img {
  width: 19.16rem;
  height: 18.9rem;

  margin-left: 6.6rem;
  margin-top: 0.7rem;
}
/*====SECTION===========================================================*/
.section {
  position: absolute;
  margin-top: 22.5rem;
}

.section .containerPrincipal {
  margin-top: 4.5rem;
}
/*====SECTION-DESCRIÇÃO=================================================*/
.containerPrincipal .descricaoPokemon h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.6rem;

  color: var(--linear-green-color);

  width: 10.3rem;
  height: 1.6rem;

  margin-bottom: 4.1rem;
}

.containerPrincipal .descricaoPokemon p {
  font-family: 'Kantumruy Pro';
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;

  color: var(--linear-black-color);

  width: 33.5rem;
  height: 6.7rem;

  margin-bottom: 4.2rem;
}
/*====SECTION-DADOS=====================================================*/
.dadosPokemon {
  display: flex;
  font-family: 'Inter';
}

.dadosPokemon h3 {
  font-size: 1.4rem;
  width: 7.2rem;
  height: 3.2rem;
  line-height: 1.6rem;

  color: #212121;
}

.dadosPokemon p {
  font-size: 1rem;

  line-height: 1.2rem;

  color: #767676;
}

.dadosPokemon .peso {
  display: flex;
  flex-direction: column;

  text-align: center;

  justify-content: center;

  border-right: 0.2rem solid #e0e0e0;

  padding-right: 2.4rem;
}

.dadosPokemon .altura {
  display: flex;
  flex-direction: column;

  text-align: center;

  justify-content: center;

  border-right: 0.2rem solid #e0e0e0;

  padding-right: 2.4rem;

  margin-left: 2.4rem;
}

.dadosPokemon .poderPrincipal {
  display: flex;
  flex-direction: column;

  text-align: center;

  justify-content: center;

  margin-left: 2.4rem;
}
/*====SECTION-CARACTERÍSTICAS===============================================*/
.containerPrincipal .caracteristicas h2 {
  font-family: 'Inter';
  font-size: 1.6rem;
  font-weight: 500;

  line-height: 2.8rem;

  margin-top: 3.1rem;
}

.containerPrincipal .caracteristicas p {
  font-family: 'Kantumruy Pro';
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2.8rem;
}
/*====SECTION-CARACTERÍSTICAS-GÊNERO========================================*/
.containerPrincipal .caracteristicas .genero {
  display: flex;
  flex-direction: row;
  margin-top: 1.7rem;
}

.containerPrincipal 
.caracteristicas 
.genero #macho {
  margin-left: 7rem;
}

.containerPrincipal 
.caracteristicas 
.genero #femia {
  margin-left: 1.4rem;
}
/*====SECTION-CARACTERÍSTICAS-SAÚDE=========================================*/
.containerPrincipal .caracteristicas .saude {
  display: flex;
  flex-direction: row; 
  margin-top: 0.5rem;
  align-items: center;
}

.containerPrincipal 
.caracteristicas 
.saude #valorSaude {
  margin-left: 5.8rem;
}

.containerPrincipal 
.caracteristicas 
.saude #linhaValorSaude {
  margin-left: 1.3rem;
  
  width: 20rem;
  height: 0.3rem;

  opacity: 0.9;

  border: 0.2rem solid #e0e0e0;
  border-radius: 0.5rem;
}

.containerPrincipal 
.caracteristicas 
.saude #linhaInternaValorSaude {
  position: absolute;
  width: 8.1rem;
  height: 0.2rem;

  background-color: #fb6c6c;
  
  margin-left: 12.5rem;

  border-radius: 0.5rem;
}
/*====SECTION-CARACTERÍSTICAS-ATAQUE========================================*/
.containerPrincipal .caracteristicas .ataque {
  display: flex;
  flex-direction: row; 
  margin-top: 1.4rem;
  align-items: center;
}

.containerPrincipal 
.caracteristicas 
.ataque #valorAtaque {
  margin-left: 5.3rem;
}

.containerPrincipal 
.caracteristicas 
.ataque #linhaValorAtaque {
  margin-left: 1.3rem;
  
  width: 20rem;
  height: 0.3rem;

  opacity: 0.9;

  border: 0.2rem solid #e0e0e0;
  border-radius: 0.5rem;
}

.containerPrincipal 
.caracteristicas 
.ataque #linhaInternaValorAtaque {
  position: absolute;
  width: 11.7rem;
  height: 0.2rem;

  background-color: #48d0b0;
  
  margin-left: 12.5rem;

  border-radius: 0.5rem;
}
/*====SECTION-CARACTERÍSTICAS-DEFESA========================================*/
.containerPrincipal .caracteristicas .defesa {
  display: flex;
  flex-direction: row; 
  margin-top: 1.4rem;
  align-items: center;
}

.containerPrincipal 
.caracteristicas 
.defesa #valorDefesa {
  margin-left: 5.3rem;
}

.containerPrincipal 
.caracteristicas 
.defesa #linhaValorDefesa {
  margin-left: 1.3rem;
  
  width: 20rem;
  height: 0.3rem;

  opacity: 0.9;

  border: 0.2rem solid #e0e0e0;
  border-radius: 0.5rem;
}

.containerPrincipal 
.caracteristicas 
.defesa #linhaInternaValorDefesa {
  position: absolute;
  width: 8.82rem;
  height: 0.2rem;

  background-color: #fb6c6c;
  
  margin-left: 12.4rem;

  border-radius: 0.5rem;
}
/*====SECTION-CARACTERÍSTICAS-VL.ATAQUE=====================================*/
.containerPrincipal .caracteristicas .velocidadeAtaque {
  display: flex;
  flex-direction: row; 
  margin-top: 1.4rem;
  align-items: center;
}

.containerPrincipal 
.caracteristicas 
.velocidadeAtaque #valorVelocAtaque {
  margin-left: 3.3rem;
}

.containerPrincipal 
.caracteristicas 
.velocidadeAtaque #linhaVelocAtaque {
  margin-left: 1.3rem;
  
  width: 20rem;
  height: 0.3rem;

  opacity: 0.9;

  border: 0.2rem solid #e0e0e0;
  border-radius: 0.5rem;
}

.containerPrincipal 
.caracteristicas 
.velocidadeAtaque #linhaInternaVelocAtaque {
  position: absolute;
  width: 11.7rem;
  height: 0.2rem;

  background-color: #48d0b0;
  
  margin-left: 12.4rem;

  border-radius: 0.5rem;
}
/*====SECTION-CARACTERÍSTICAS-VL.DEFESA=====================================*/
.containerPrincipal .caracteristicas .velocidadeDefesa {
  display: flex;
  flex-direction: row; 
  margin-top: 1.4rem;
  align-items: center;
}

.containerPrincipal 
.caracteristicas 
.velocidadeDefesa #valorVelocDefesa {
  margin-left: 3.3rem;
}

.containerPrincipal 
.caracteristicas 
.velocidadeDefesa #linhaVelocDefesa {
  margin-left: 1.3rem;
  
  width: 20rem;
  height: 0.3rem;

  opacity: 0.9;

  border: 0.2rem solid #e0e0e0;
  border-radius: 0.5rem;
}

.containerPrincipal 
.caracteristicas 
.velocidadeDefesa #linhaInternaVelocDefesa {
  position: absolute;
  width: 11.7rem;
  height: 0.2rem;

  background-color: #48d0b0;
  
  margin-left: 12.38rem;

  border-radius: 0.5rem;
}
/*====SECTION-CARACTERÍSTICAS-VELOCIDADE====================================*/
.containerPrincipal .caracteristicas .velocidade {
  display: flex;
  flex-direction: row; 
  margin-top: 1.4rem;
  align-items: center;
}

.containerPrincipal 
.caracteristicas 
.velocidade #valorVelocidade {
  margin-left: 2.8rem;
}

.containerPrincipal 
.caracteristicas 
.velocidade #linhaVelocidade {
  margin-left: 1.3rem;
  
  width: 20rem;
  height: 0.3rem;

  opacity: 0.9;

  border: 0.2rem solid #e0e0e0;
  border-radius: 0.5rem;
}

.containerPrincipal 
.caracteristicas 
.velocidade #linhaInternaVelocidade {
  position: absolute;
  width: 8.82rem;
  height: 0.2rem;

  background-color: #fb6c6c;
  
  margin-left: 12.38rem;

  border-radius: 0.5rem;
}
/*====SECTION-CARACTERÍSTICAS-TOTAL=========================================*/
.containerPrincipal .caracteristicas .totalCaracteristicas {
  display: flex;
  flex-direction: row; 
  margin-top: 1.4rem;
  align-items: center;
}

.containerPrincipal 
.caracteristicas 
.totalCaracteristicas #valorTotalCaracte {
  margin-left: 6.3rem;
}

.containerPrincipal 
.caracteristicas 
.totalCaracteristicas #linhaTotalCaracte {
  margin-left: 1.2rem;
  
  width: 20rem;
  height: 0.3rem;

  opacity: 0.9;

  border: 0.2rem solid #e0e0e0;
  border-radius: 0.5rem;
}

.containerPrincipal 
.caracteristicas 
.totalCaracteristicas #linhaInternaTotalCaracte {
  position: absolute;
  width: 9.82rem;
  height: 0.2rem;

  background-color: #4BC07A;
  
  margin-left: 12.4rem;

  border-radius: 0.5rem;
}
/*====SECTION-PONTOS-FORTES-E-FRACOS========================================*/
.containerPrincipal .pontosFortesEFracos {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.containerPrincipal .pontosFortesEFracos h2 {
  font-family: 'Inter';
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.8rem;

  margin-top: 4.1rem;
  margin-bottom: 1.6rem;

  color: #303943;

  width: 19.4rem;
  height: 1.4rem;
}

.containerPrincipal .pontosFortesEFracos p {
  font-family: 'Kantumruy Pro';
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  
  color: #303943;

  width: 31.5rem;
  height: 16.6rem;

  margin-bottom: 3.7rem;
}