/*====GERAL===========================================================*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /*1rem = 10px*/

  --main-color: hsl(0, 0%, 90%); /*Cor principal*/
  --linear-green-color: hsl(166, 59%, 55%); /*cor verde*/
  --linear-red-color: hsl(0, 95%, 70%); /*cor vermelha*/
  --linear-blue-color: hsl(187, 64%, 56%); /*cor azul*/
  --linear-black-color: hsl(212, 17%, 23%); /*cor preta*/
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif; /*Fonte da página*/
  font-size: 1.6rem;
  font-style: normal;
  text-align: left;

  overflow: overlay;

  background-color: white;

}

.containerPrincipal {
  width: 37.5rem; /*37.5rem = 375px*/ /*width = largura do conteúdo da pág.*/
  margin-inline: auto; /*Vai preencher toda margin de forma automática*/
  padding-inline: 2.4rem;
}
/*====SECTION===========================================================*/
/*====SECTION-DESCRIÇÃO=================================================*/
.containerPrincipal .descricaoPokemon h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.6rem;

  color: var(--linear-green-color);

  width: 10.3rem;
  height: 1.6rem;

  margin-bottom: 4.1rem;
}

.containerPrincipal .descricaoPokemon p {
  font-family: 'Kantumruy Pro';
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;

  color: var(--linear-black-color);

  width: 33.5rem;
  height: 6.7rem;

  margin-bottom: 4.2rem;
}
/*====SECTION-DADOS=====================================================*/
.dadosPokemon {
  display: flex;
  font-family: 'Inter';
}

.dadosPokemon h3 {
  font-size: 1.4rem;
  width: 7.2rem;
  height: 3.2rem;
  line-height: 1.6rem;

  color: #212121;
}

.dadosPokemon p {
  font-size: 1rem;

  line-height: 1.2rem;

  color: #767676;
}

.dadosPokemon .peso {
  display: flex;
  flex-direction: column;

  text-align: center;

  justify-content: center;

  border-right: 0.2rem solid #e0e0e0;

  padding-right: 2.4rem;
}

.dadosPokemon .altura {
  display: flex;
  flex-direction: column;

  text-align: center;

  justify-content: center;

  border-right: 0.2rem solid #e0e0e0;

  padding-right: 2.4rem;

  margin-left: 2.4rem;
}

.dadosPokemon .poderPrincipal {
  display: flex;
  flex-direction: column;

  text-align: center;

  justify-content: center;

  margin-left: 2.4rem;
}
/*====SECTION-CARACTERÍSTICAS===============================================*/
.containerPrincipal .caracteristicas h2 {
  font-family: 'Inter';
  font-size: 1.6rem;
  font-weight: 500;

  line-height: 2.8rem;

  margin-top: 3.1rem;
}

.containerPrincipal .caracteristicas .genero {
  display: flex;
  flex-direction: row;
}

.containerPrincipal 
.caracteristicas 
.genero #macho {
  margin-left: 8rem;
}

.containerPrincipal 
.caracteristicas 
.genero #femia {
  margin-left: 1.4rem;
}