/*====GERAL===========================================================*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /*1rem = 10px*/

  --main-color: hsl(0, 0%, 90%); /*Cor principal*/
  --linear-green-color: hsl(162, 64%, 56%); /*cor verde*/
  --linear-red-color: hsl(0, 95%, 70%); /*cor vermelha*/
  --linear-blue-color: hsl(187, 64%, 56%); /*cor azul*/
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif; /*Fonte da página*/
  font-size: 1.6rem;
  font-style: normal;
  text-align: center;

  overflow: overlay;

  background-color: white;
}

.containerPrincipal {
  width: 37.5rem; /*37.5rem = 375px*/ /*width = largura do conteúdo da pág.*/
  margin-inline: auto; /*Vai preencher toda margin de forma automática*/
  padding-inline: 2.4rem;
}
/*====SECTION===========================================================*/
body .titulo {
  margin-bottom: 4rem;
}
/*====POKEMONS-GERAL===========================================================*/
.containerPrincipal .pokemons {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;

  border-radius: 1.5rem;

  width: 16.2rem;
  height: 10.9rem;
}

.containerPrincipal .pokemons h2 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4rem;

  margin-left: 1.67rem;
  margin-bottom: 0.99rem;
  
  color: white;
}

.containerPrincipal .pokemons h3 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4rem;

  text-align: right;

  margin-right: 1.73rem;

  opacity: 40%;
}

.containerPrincipal .pokemons .tipo p {
  background-color: var(--main-color);
  background-blend-mode: soft-light;
  opacity: 40%;

  border-radius: 3.8rem;

  width: 4.49rem;
  height: 1.58rem;

  margin-left: 1.67rem;
  margin-bottom: 0.59rem;

  justify-content: center;
}

.containerPrincipal .tipo p {
  display: flex;

  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  align-items: center;
  line-height: 2.8rem;
}

.containerPrincipal .pokemons img {
  position: absolute;

  width: 7.94rem;
  height: 7.03rem;

  margin-left: 7.52rem;
  margin-top: 1.96rem;
}

/*====POKEMONS-BULBASAUR===========================================================*/
.containerPrincipal #bulbasaur {
  background-color: var(--linear-green-color);
  margin-left: 0rem;
}

/*====POKEMONS-CHARMANDER===========================================================*/
.containerPrincipal #charmander {
  background-color: var(--linear-red-color);
  margin-right: -1rem;
  margin-top: -10.9rem;
}

.containerPrincipal #charmander h3 {
  margin-top: -2rem;
}

.containerPrincipal #charmander img {
  width: 6.27rem;
  height: 6.9rem;

  margin-top: 1.3rem;
  margin-left: 8.5rem;
}

/*====POKEMONS-SQUIRTLE===========================================================*/
.containerPrincipal #squirtle {
  background-color: var(--linear-blue-color);
  margin-left: 0rem;
  margin-top: 1.8rem;
}

.containerPrincipal #squirtle h3 {
  margin-top: -2rem;
}

.containerPrincipal #squirtle img {
  width: 6.9rem;
  height: 7.1rem;

  margin-top: 1.3rem;
  margin-left: 8.6rem;
}

/*====POKEMONS-SQUIRTLE===========================================================*/
.containerPrincipal #pikachu {
  background-color: hsl(44, 100%, 65%);
  
  margin-right: -1rem;
  margin-top: -10.9rem;
}

.containerPrincipal #pikachu h3 {
  margin-top: -2rem;
}

.containerPrincipal #pikachu img {
  width: 9rem;
  height: 8.4rem;

  margin-top: 0.5rem;
  margin-left: 7rem;
}