/*====GERAL===========================================================*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /*1rem = 10px*/

  --main-color: hsl(0, 0%, 90%); /*Cor principal*/
  --linear-green-color: hsl(162, 64%, 56%); /*cor verde*/
  --linear-red-color: hsl(0, 95%, 70%); /*cor vermelha*/
  --linear-blue-color: hsl(187, 64%, 56%); /*cor azul*/
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif; /*Fonte da página*/
  font-size: 1.6rem;
  font-style: normal;
  text-align: center;

  overflow: overlay;

  background-color: white;

}

body {
  width: 37.5rem; /*37.5rem = 375px*/ /*width = largura do conteúdo da pág.*/
  margin-inline: auto; /*Vai preencher toda margin de forma automática*/
  padding-inline: 2.4rem;
}

body .containerPrincipal {
  margin-left: 2.1rem;
}

/*====HEADER===========================================================*/
.header {
  background-color: hsl(0, 0%, 29%);
  color: white;

  display: flex;
  align-items: center;

  width: 37.5rem;
  height: 15.4rem;
  margin-inline: auto;

  border-radius: 0rem 0rem 2.4rem 2.4rem;

}


.header h2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.42rem;

  margin-top: 7.6rem;
  margin-bottom: 0.2rem;

  display: flex;
  
  text-align: left;
  letter-spacing: -0.01em;
}

.header p {
  margin-right: 23.5rem;
  display: table-footer-group;
}

.header .imgSubtract {
  display: flex;
  
  margin-left: 21.44rem;
  margin-top: -11.69rem;
  
  width: 14.67rem;
  height: 14.7rem;

  
  opacity: 40%;
}

.header .foto {
  display: flex;
  position: absolute;

  width: 4.7rem;
  height: 4.7rem;

  margin-top: -9.16rem;
  margin-left: 27rem;

  border: 0.2rem solid #f1f1f1;
  border-radius: 1rem;
}

.header .imgEllipse {
  display: flex;
  position: absolute;

  width: 0.9rem;
  height: 0.9rem;

  margin-top: -9.86rem;
  margin-left: 31.68rem;
}

/*====SECTION===========================================================*/
.section .titulo {
  display: flex;

  font-family: 'Inter';
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.12rem;
  letter-spacing: -0.01em;

  text-align: left;

  margin-left: 2.1rem;
  margin-top: 3.9rem;
  margin-bottom: 4rem;

  color: hsl(212, 17%, 23%);
}
.section .logoPokemon {
  display: inline-flex;
  position: absolute;

  margin-top: 4.7rem;
  margin-left: 1.2rem;

  justify-content: center;

  width: 1.42rem;
  height: 5.1rem;
}

/*====POKEMONS-GERAL===========================================================*/
.pokemons {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;

  border-radius: 1.5rem;

  width: 16.2rem;
  height: 10.9rem;
}

.pokemons h2 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4rem;

  margin-left: 1.67rem;
  margin-bottom: 0.99rem;
  
  color: white;
}

.pokemons h3 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4rem;

  text-align: right;

  margin-right: 1.73rem;

  opacity: 40%;
}

.pokemons .tipo p {
  background-color: var(--main-color);
  background-blend-mode: soft-light;
  opacity: 40%;

  border-radius: 3.8rem;

  width: 4.49rem;
  height: 1.58rem;

  margin-left: 1.67rem;
  margin-bottom: 0.59rem;

  justify-content: center;
}

.tipo p {
  display: flex;

  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  align-items: center;
  line-height: 2.8rem;
}

.pokemons img {
  position: absolute;

  width: 7.94rem;
  height: 7.03rem;

  margin-left: 7.52rem;
  margin-top: 1.96rem;
}

/*====POKEMONS-BULBASAUR===========================================================*/
   #bulbasaur {
  background-color: var(--linear-green-color);
  margin-left: 0rem;
}

/*====POKEMONS-CHARMANDER===========================================================*/
   #charmander {
  background-color: var(--linear-red-color);
  margin-right: -2.5rem;
  margin-top: -10.9rem;
}

   #charmander h3 {
  margin-top: -2rem;
}

   #charmander img {
  width: 6.27rem;
  height: 6.9rem;

  margin-top: 1.3rem;
  margin-left: 8.5rem;
}

/*====POKEMONS-SQUIRTLE===========================================================*/
   #squirtle {
  background-color: var(--linear-blue-color);
  margin-left: 0rem;
  margin-top: 1.8rem;
}

   #squirtle h3 {
  margin-top: -2rem;
}

   #squirtle img {
  width: 6.9rem;
  height: 7.1rem;

  margin-top: 1.3rem;
  margin-left: 8.6rem;
}

/*====POKEMONS-PIKACHU===========================================================*/
   #pikachu {
  background-color: hsl(44, 100%, 65%);
  
  margin-right: -2.5rem;
  margin-top: -10.9rem;
}

   #pikachu h3 {
  margin-top: -2rem;
}

   #pikachu img {
  width: 9rem;
  height: 8.4rem;

  margin-top: 0.5rem;
  margin-left: 7rem;
}

/*====POKEMONS-CHARIZARD===========================================================*/
   #charizard {
  background-color: var(--linear-red-color);

  margin-left: 0rem;
  margin-top: 1.8rem;
}

   #charizard img {
  width: 9.82rem;
  height: 9.4rem;

  margin-top: 1.5rem;
  margin-left: 6.16rem;
}

/*====POKEMONS-BLASTOISE===========================================================*/
   #blastoise {
  background-color: var(--linear-blue-color);

  margin-right: -2.5rem;
  margin-top: -10.9rem;
}

   #blastoise h3 {
  margin-top: -2rem;
}

   #blastoise img {
  width: 7.6rem;
  height: 7.5rem;

  margin-top: 1.4rem;
  margin-left: 8.1rem;
}